<app-nav></app-nav>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="true" *ngIf="authenticated" class="custom-sidenav">
    <mat-nav-list>
      <!-- Dashboard link with icon -->
      <a mat-list-item routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>

      <!-- Add Budget link with icon -->
      <a mat-list-item routerLink="/add-budget">
        <mat-icon>add_circle</mat-icon>
        Add Budget
      </a>

      <!-- Add Expense link with icon -->
      <a mat-list-item routerLink="/add-expense">
        <mat-icon>attach_money</mat-icon>
        Add Expense
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main class="container" style="height:100vh;">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>


