<div class="container">
  <h2>Budget List</h2>

  <button mat-raised-button color="primary" (click)="openAddBudgetDialog()">
    Add Budget
  </button>

  <p></p>

  <table mat-table [dataSource]="budgets" class="mat-elevation-z8" role="grid">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef role="columnheader">Title</th>
      <td mat-cell *matCellDef="let budget" role="gridcell">{{ budget.title }}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef role="columnheader">Amount</th>
      <td mat-cell *matCellDef="let budget" role="gridcell">{{ budget.amount }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef role="columnheader">Actions</th>
      <td mat-cell *matCellDef="let budget" role="gridcell">
        <button mat-icon-button class="action-button" (click)="openEditBudgetDialog(budget)" aria-label="Edit Budget">
          <mat-icon alt="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button class="action-button" (click)="deleteBudget(budget._id)" aria-label="Delete Budget">
          <mat-icon alt="Delete">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['title', 'amount', 'actions']" role="row"></tr>
    <tr mat-row *matRowDef="let row; columns: ['title', 'amount', 'actions'];" role="row"></tr>
  </table>
</div>
