 <p></p>
 <div class="dashboard-container">
  <mat-card [ngClass]="{'negative-difference': budgetExpensesDifference < 0, 'positive-difference': budgetExpensesDifference >= 0, 'amber-difference':budgetExpensesDifference<=50 && budgetExpensesDifference>=0}">
    <mat-card-header>
      <mat-card-title>
        {{
          budgetExpensesDifference < 0 ? 'You are in red zone' :
          (budgetExpensesDifference >= 0 && budgetExpensesDifference <= 50 ? 'You are in amber zone' : 'You are in green zone')
        }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Total Budget: {{ totalBudget | currency }}</p>
      <p>Total Expenses: {{ totalExpenses | currency }}</p>
      <p>Difference: {{ budgetExpensesDifference | currency }}</p>
    </mat-card-content>
  </mat-card>

  <div class="chart-container">
    <app-budget-chart-1 [budgetData]="yourBudgetDataArray"></app-budget-chart-1>
    <app-expense-bar-chart-2 [budgetData]="yourBudgetDataArray" [expenseData]="yourExpenseDataArray"></app-expense-bar-chart-2>
    <app-monthly-expense-chart *ngIf="monthlyExpenseData" [monthlyData]="monthlyExpenseData"></app-monthly-expense-chart>




    <!-- <app-monthly-expense></app-monthly-expense> -->
    <!-- <app-line-chart-3 [budgetData]="yourBudgetDataArray" [expenseData]="yourExpenseDataArray"></app-line-chart-3> -->
    <!-- <app-radar-chart-4 [budgetData]="yourBudgetDataArray" [expenseData]="yourExpenseDataArray"></app-radar-chart-4> -->
    <!-- <app-bar-chart-6 [expenseData]="yourExpenseDataArray"></app-bar-chart-6> -->
  </div>
</div>
